@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Macondo+Swash+Caps&family=MedievalSharp&family=Metamorphous&display=swap');
html{
    color:black;
    background-color:bisque;
    font-family: 'Metamorphous','Cinzel Decorative', 'Cormorant Unicase', 'Macondo Swash Caps', 'MedievalSharp', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 6fr 1fr;
    
    grid-template-areas:
        "...  nav"
        "header ..."
        "section ...";
}

header, section {
    margin-left: 3em;
    margin-right: 3em;
    padding: 2em;
    
}


header{
    grid-area: header;
    }
section{
    p::first-letter{
        font-size: 2.5em;
        float: left;
    }
         
    grid-area: section;
    column-count: 2;
    column-gap: 5em;

}

nav{
    position: relative;
    width:auto;
    right: 0;
    grid-area: nav;

}


@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "aside aside"
            "nav nav"   
            "article article";
        
    }
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "nav nav"
            "aside aside"
            "article article";
    }
}