@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Macondo+Swash+Caps&family=MedievalSharp&family=Metamorphous&display=swap');

html{
    color:black;
    background-color:bisque;
    font-family: 'Metamorphous','Cinzel Decorative', 'Cormorant Unicase', 'Macondo Swash Caps', 'MedievalSharp';
}

body {
    background-color: #C0C0C0;
}

main {
    display: grid;
    grid-template-columns: 6fr 1fr;
    
    grid-template-areas:
        "titolo nav"
        "contenuto ..."
        "footer footer";
}

h1 {
    grid-area: titolo;
}

h2 {
    display: inline;
}

nav {
    grid-area: nav;
}

#content{
    grid-area: contenuto;
}

section:first-of-type::first-letter {
    font-size: 2em;
    float: left;
    font-weight: bold;
    margin-top: -0.15em;
}

article {
    padding: 5px;
    background-color: #ffffff;
    columns: 2;
    margin: 2% 5%;
    /*
    border-right: 2px solid #000000;  
    border-bottom: 2px solid #000000;
    */
    box-shadow: 0 5px 5px #000000;

}

section {
    display: none;
}

footer {
    grid-area: footer;
}

input[type="checkbox"]:checked ~ section {
    display: initial;
}

a[href^=mailto]::before {
    content: "📧 ";
}

a[href^=mailto]::after {
    content: "(" attr(href) ")";
}



@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "aside aside"
            "nav nav"   
            "article article";
        
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: initial;
    }
    article {
        columns: 1;
    }
}